p{
    color:rgb(37, 33, 35);
    
} 



h1{
    text-align: center; color:deeppink
}

.parágrafo{color: rgb(56, 68, 240)}

img{
    text-align: center;
     width: 100px;
}  

.a{
    background-color: red;
}

.b{
    background-color: blue;
}
